<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1.智慧导览.m4a</string>
	<string>2引导台.m4a</string>
	<string>3旅游自助服务区.m4a</string>
	<string>4.3D互动区.m4a</string>
	<string>5.应用展示区.m4a</string>
	<string>6.旅游智慧屏.m4a</string>
	<string>7综合服务区.m4a</string>
	<string>8信息播放屏.m4a</string>
	<string>9行李寄存区.m4a</string>
	<string>10医务室.m4a</string>
	<string>11伴手礼超市.m4a</string>
	<string>12多功能厅.m4a</string>
	<string>13机房.m4a</string>
	<string>14呼叫中心.m4a</string>
	<string>15预警中心.m4a</string>
	<string>16办公区.m4a</string>
	<string>17游客上车区.m4a</string>
	<string>18自行车租赁.m4a</string>
	<string>19婚纱摄影园.m4a</string>
</array>
</plist>
